@model EduCare.Models.Level

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold mt-3 mb-3"><a href=@Url.Action("Index","Levels") class="back-btn"><i class="fa fa-arrow-left"></i> Delete Level</a></h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-primary small-card">
        <div class="box-body">
            <div class="row">
                <idv class="col-sm-12">
                    <div class="form-group">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                : @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LevelCode)
                            </dt>

                            <dd style="text-transform:uppercase;">
                                : @Html.DisplayFor(model => model.LevelCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>

                            <dd>
                                : @if (Model.Status ?? false)
                                {


                                    <span class="label badge-soft-success">Active</span>
                                }
                                else
                                {
                                    <span class="label badge-soft-danger">InActive</span>
                                }
                            </dd>

                        </dl>
                    </div>
                </idv>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
